// colors
$base-gray: #555555;
$bg: #ffffff;
$font-color: #222222;
$base-hover: #1f4287;

$main-dark: #000000;
$main-muted-dark: #3e3636;
$main-light: #d72323;
$bg-main: #ffffff;
$bg-light: #f5eded;

$h1: 700 32px/40px Inter, sans-serif;
$p-medium: 500 16px/20px Inter, sans-serif;
